@media screen and (max-width: 1200px) {
  #header{display: none;}
  #mob_header{display: flex; align-items: center; justify-content: space-between; padding: 15px 2.6%; background-color: #fff; z-index: 1000;}
  #mob_header img{width: 150px;}
  #mob_header button{display: block; width: 50px; height: 50px; background: url('../images/mob_menu_icon.svg')center / 100% auto no-repeat;}
  #visual_wrap .pc_img{
    height: 650px;
  }
  #visual_wrap .visual_txt01 em{font-size: 25px; line-height: 60px}
  #visual_wrap .visual_txt01 em strong{font-size: 65px;}
  #visual_wrap .visual_txt01 b{font-size: 30px; margin-top: 38px;}
  #visual_wrap .visual_txt01 b:before{content:''; height:10px;}
  #visual_wrap .visual_txt01 p{font-size: 16px; margin-top: 12px; line-height: 20px;}
  #visual_wrap .visual_txt02 em{font-size: 45px;  line-height: 70px;}
  #visual_wrap .visual_txt02 em span{font-size: 50px;}
  .inner{padding: 0 2.6%;}

  #section01{position:relative; padding: 100px 0;}
  #section01 .inner{display: block;}
  #section01 .sec01_txt{display: flex; flex-direction: column; align-items: center; width:100%; padding-top:0; margin-bottom: 40px; text-align: center;}
  #section01 .sec01_txt h2{font-size: 40px; color:#262626; font-weight: 700;}
  #section01 .sec01_txt h2 em{font-size: 50px; font-weight: 700;}
  #section01 .sec01_txt h2 span{color:rgba(0, 87, 255, 0.80);}
  #section01 .sec01_txt p{margin-top:25px; font-size: 22px; font-weight: 500; line-height: 35px; color: #484848;}
  #section01 .sec01_txt p span{color:#0057FF; font-weight: 700;}
  #section01 .sec01_txt a{display: flex; align-items: center; gap:10px; margin-top: 40px;}
  #section01 .sec01_txt a em{font-size: 18px;}
  #section01 .sec01_txt a span{width: 30px; height: 30px; background: url('../images/main_sec01_btn_arrow.svg') center no-repeat #0057FF;}
  #section01 .sec01_slider_wrap{width: 100%;}
  #section01 .sec01_slide article{padding: 25px; border-radius: 20px;}
  #section01 .sec01_slide article .img_wrap{width: 132px; height: 35px;}
  #section01 .sec01_slide article .txt{padding: 0 0 15px; margin-top:25px;}
  #section01 .sec01_slide article .txt strong{font-size: 25px;}
  #section01 .sec01_slide article .txt i{font-size: 13px; margin-top: 28px; line-height: 1.7;}
  #section01 .sec01_slide article .txt .price{margin-top:20px; gap:5px; }
  #section01 .sec01_slide article .txt .price b{top: 3px; font-size:13px;}
  #section01 .sec01_slide article .txt .price .arrow{top: 3px; width: 10px; height: 23px; background: url(../images/main_sec01_arrow.svg)center / 100% auto no-repeat;}
  #section01 .sec01_slide article .txt .price em{display: block; font-size: 18px;}
  #section01 .sec01_slide article .txt .price em span{font-size: 22px;font-weight: 700;}
  #section01 .sec01_slide article .btn_wrap{gap:8px; padding: 15px 0 0;}
  #section01 .sec01_slide article .btn_wrap a{padding: 12px 0;}
  #section01 .sec01_slide article .btn_wrap a span{font-size: 14px; line-height: 20px;}
  #section01 .sec01_slide article small{font-size: 13px; margin-top:15px;}
  #section01 .swiper-slide-active article{border: 2px solid rgba(0, 87, 255, 0.70);}

  #section02{padding: 50px 0; background-color: #EFF7FF;}
  #section02 .sec02_txt{text-align: center;}
  #section02 .sec02_txt h2{font-size: 40px; color:#262626; text-align: center; font-weight: 700;}
  #section02 .sec02_txt em{display: block; margin-top: 10px; color: #262626; text-align: center; font-size: 16px; font-weight: 500; line-height: 25px;}
  #section02 ol{display: flex; flex-wrap: wrap; justify-content: center; margin-top: 30px;}
  #section02 ol li{position:relative; display: flex; flex-direction: column; align-items: center; width: 33.33%; padding: 0 8px; text-align: center;}
  #section02 ol li:after{content:''; position: absolute; right: -20px; top:70px; width: 30px; height: 30px; border-radius: 50%; background: url('../images/main_sec02_arrow.svg') center / 15px 15px no-repeat #0057FF;}
  #section02 ol li:nth-child(-n + 3){margin-bottom: 25px;}
  #section02 ol li:nth-child(3):after{display: none;}
  #section02 ol li:last-child:after{display: none;}
  #section02 ol li figure{position:Relative; display: block; width:170px; height:170px;}
  #section02 ol li figure img{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin:auto; width:  auto; height: auto; max-width: 100%; max-height:100%;}
  #section02 ol li i{display: block; font-style: normal; font-size: 18px; color:#0057FF; font-weight: 500; margin-top: 25px;}
  #section02 ol li .txt{margin-top: 18px;}
  #section02 ol li .txt em{display: block; font-size: 23px; color:#262626; font-weight: 700;}
  #section02 ol li .txt p{font-size:13px; margin-top: 11px; color:#626262; line-height: 1.5;}
  #section02 ol li:last-child figure:before{display: none;}
  #section02 ol li:last-child figure:after{display: none;}

  #section03{padding: 50px 0; background: #0C2557;}
  #section03 h2{font-size: 40px; color:#fff; font-weight: 700; line-height: 60px; text-align: center;}
  #section03 h2 strong{color:#262626; font-weight: 700; background-color: #FFF;}
  #section03 ul{display: block; flex-wrap: wrap; margin-top: 30px;}
  #section03 ul li{width: 100%; padding: 20px; border-bottom: 1px dotted #fff;}
  #section03 ul li article{display: flex; align-items: center;}
  #section03 ul li:nth-child(-n + 2){border-bottom: 1px dotted #fff;}
  #section03 ul li:nth-child(odd){padding-right: 20px;}
  #section03 ul li:nth-child(even){padding-left: 20px; border-left: none}
  #section03 ul li:last-child{border-bottom:none;}
  #section03 ul li figure{position:relative; flex: none; width: 60px; height: 60px;}
  #section03 ul li figure img{position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: auto; height: auto; margin: auto; max-width: 100%; max-height: 100%;}
  #section03 ul li .txt{padding-left: 30px;}
  #section03 ul li .txt em{display: block; color: #FFF; font-size: 22px; font-weight: 700; line-height: 30px;}
  #section03 ul li .txt p{margin-top: 15px; color: #FFF; font-size: 14px; font-weight: 400; line-height: 25px;}

  #section04{padding: 50px 0;}
  #section04 .sec04_con_wrap{padding: 0; border-radius: 20px; border: none;}
  #section04 .tit{text-align: center;}
  #section04 .tit h2{color: #262626; font-size: 40px; font-weight: 700; line-height: 50px; margin-top: 10px;}
  #section04 .tit em{display: block; font-size: 25px; font-weight: 500; line-height: 35px; color:#262626;}
  #section04 .tit em span{color:rgba(0, 87, 255, 0.80); font-weight: 700;}
  #section04 .item{display: block; margin-top: 39px; padding: 0; border-radius: 20px; border: none;}
  #section04 article{width: 100%; text-align: center; padding-right: 0; padding: 25px; border: 1px solid #ddd; border-radius: 10px;}
  #section04 article:last-child{position:relative; margin-top: 25px; padding-right: 25px; padding-left: 25px;}
  #section04 article:last-child:before{content:''; position: absolute; display: none; left: 0; top: 0 ; bottom: 0; width: 1px; height: 100%; background-color: #ddd;}
  #section04 article strong{display: block; font-size: 24px; color:#262626; text-align: center; padding-left:13px; margin-bottom: 27px; font-weight: 700;}
  #section04 article strong span{color:#368EFB; font-weight: 700;}
  #section04 .sec04_slide{height: 324px !important;}
  #section04 article .slide_top{display: flex; border-bottom: 1px solid #ddd;}
  #section04 article .slide_top em{position:relative; display: block; width: 33.33%; line-height: 19px; padding: 17px 0; font-size: 16px; color:#262626; font-weight: 700;}
  #section04 article .sec04_item .txt{display: flex;}
  #section04 article .sec04_item .txt b{display: block; width: 33.33%; line-height: 54px; font-size: 16px; font-weight: 500; color:#262626;}

  #section05{padding: 50px; background: #FBFDFF;}
  .sub_form_wrap{display: flex; flex-direction: column; align-items: center;}
  .sub_form_wrap .tit{text-align: center;}
  .sub_form_wrap .tit h2{font-size: 40px; font-weight: 700; line-height: 60px;}
  .sub_form_wrap .tit h2 span{color:#0057FF;}
  .sub_form_wrap .tit em{display: block; color: #0057FF; margin-top: 15px; font-size: 20px; font-weight: 500; line-height: 30px;}
  .sub_form_wrap .tit strong{display: inline-block; margin-top:25px; padding: 10px 40px; border-radius:999px; color: #FFF; font-size: 18px; font-weight: 600; line-height: 26px; background-color: #0057FF;}
  .sub_form_wrap .sub_form{margin-top: 43px; width:600px; max-width:100%;}
  .sub_form_wrap .sub_form ul li{margin-top: 30px;}
  .sub_form_wrap .sub_form ul li:first-child{margin-top: 0;}
  .sub_form_wrap .sub_form ul li label{display: block; color: #262626; margin-bottom: 10px; padding-left:11px; font-size: 20px; font-weight: 700; line-height: 20px;}
  .sub_form_wrap .sub_form ul li select{display: block; width: 100%; height:50px; font-size: 18px; border-radius: 15px; padding: 0 40px; border: none; background: url('../images/secect_arrow.svg') center right 40px no-repeat #EAF1FF; outline:0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
  .sub_form_wrap .sub_form ul li select option{background-color: #fff;}
  .sub_form_wrap .sub_form ul li input[type="text"]{display: block; width: 100%; height:50px; border-radius: 15px; padding: 0 40px; font-size: 18px; border: none; background: #EAF1FF; outline:0;}
  .sub_form_wrap .sub_form ul li input[type="phone"]{display: block; width: 100%; height:50px; border-radius: 15px; padding: 0 40px; font-size: 18px; border: none; background: #EAF1FF; outline:0;}
  .sub_form_wrap .sub_form ul li input[type="tel"]{display: block; width: 100%; height:50px; border-radius: 15px; padding: 0 40px; font-size: 18px; border: none; background: #EAF1FF; outline:0;}
  .sub_form_wrap .sub_form ul li p{text-align: center; color: #7E7E7E; font-size: 12px; font-weight: 400; line-height: 15px; margin-top: 9px;}
  .sub_form_wrap .agreement{display: flex; flex-direction: column; align-items: center; margin-top: 30px; text-align: center;}
  .sub_form_wrap .agreement label{display: flex; align-items: center; gap: 5px;}
  .sub_form_wrap .agreement label span{display: block; color: #626262; text-align: center; font-size: 16px; font-weight: 500; line-height: 20px;}
  .sub_form_wrap .agreement p{margin-top:5px; color: #A9A9A9; font-size: 12px; font-weight: 500; line-height: 18px;}
  .sub_form_wrap .submit{display: block; width: 100%; margin-top: 30px; text-align: center; padding: 17px 0 ; border-radius: 15px; color: #FFF; font-size: 20px; font-weight: 700; line-height: 20px; background: #0057FF;}
  .sub_form_wrap .chk_list{display: flex; flex-direction: column; align-items: center; gap:20px; margin-top: 40px;}
  .sub_form_wrap .chk_list li{display: flex; align-items: center; gap:10px;}
  .sub_form_wrap .chk_list li .icon{width:25px; height: 20px; background: url('../images/form_chk_icon.svg')center / 25px auto no-repeat;}
  .sub_form_wrap .chk_list li em{display: block; color: #262626; font-size: 20px; font-weight: 400; line-height: 25px; }
  .sub_form_wrap .chk_list li em span{color:#0057FF; font-weight: 700; background: #EAF1FF; border-radius: 999px; padding: 0 5px;}

  #section06{padding: 41px 0; background-color: #F1F3F5;}
  #section06 figure{display: flex; justify-content: center;}
  #section06 img{display: block; max-width: 100%;}

  #section07 {padding: 50px 0; background: linear-gradient(180deg, #FFF 0%, #EEF4FF 100%);}
  #section07 .tit{text-align: center;}
  #section07 .tit em{display: inline-block; padding: 5px 25px; color: #262626; font-size: 16px; font-weight: 500; line-height: 20px; border-radius: 999px; background-color: #EFF7FF;}
  #section07 .tit h2{color: #262626; font-size: 40px; font-weight: 700; margin-top:14px;  line-height: 50px;}
  #section07 .tit h2 span{color:#0057FF;}
  #section07 .sec07_list{margin-top:30px; overflow: visible !important;}
  #section07 .sec07_list article{border-radius: 40px 40px 40px 0; padding: 25px; background: #FFF; box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.06);}
  #section07 .sec07_list article .star{display: flex; align-items: center; gap: 10px;}
  #section07 .sec07_list article .star .icon{width: 25px; height: 25px; background: url('../images/review_icon.svg')center / 100% auto no-repeat;}
  #section07 .sec07_list article .star em{display: block; color: #262626; font-size: 18px; font-weight: 700;}
  #section07 .sec07_list article p{color: #878787; margin-top: 10px; font-size: 14px; font-style: normal; font-weight: 500; line-height: 24px;}
  #section07 .sec07_list article i{display: block; color: #626262; margin-top: 30px; font-size: 12px; font-style: normal; font-weight: 400;}

  .fix_form_wrap{position: relative; display: none; background-color: #EEF4FF; height: 189px;}
  .fix_form {position:fixed; bottom: 0; width: 100%; padding: 57px; border-radius: 100px 100px 0 0; background: rgba(0, 87, 255, 0.80); z-index: 10000;}
  .fix_form .inner{display: flex; align-items:center; width:1600px;}
  .fix_form .txt {width: 537px;}
  .fix_form .txt p{color: #FFF; font-size: 22px; font-weight: 400; line-height: 25px;}
  .fix_form .txt em{display: block; color: #FFF; font-size: 30px; font-weight: 700; margin-top:10px; line-height: 30px;}
  .fix_form .fix_item{display: flex; width: calc(100% - 537px);  gap:20px;}
  .fix_form .fix_item input[type="text"],.fix_form .fix_item input[type="tel"]{font-size: 22px; width: calc((100% - 326px)/2); text-align: center; height: 75px; border-radius: 10px; background: #FFF;}
  .fix_form .fix_item input[type="text"]::placeholder,.fix_form .fix_item input[type="tel"]::placeholder{color:#ddd;}
  .fix_form .fix_item .btn_wrap{position:relative; width: 326px; flex:none;}
  .fix_form .fix_item .btn_wrap button{display: block; width: 100%; height: 75px; font-size: 33px; font-weight: 700; line-height: 75px; text-align: center; color:#fff; border-radius: 10px; background: #262626;}
  .fix_form .fix_item .agreement{position:absolute; display: flex; gap:10px; top: calc(100% + 7px); left: 50%; transform: translateX(-50%); width: max-content;}
  .fix_form .fix_item .agreement label{display: flex; align-items: center; gap: 5px;}
  .fix_form .fix_item .agreement label span{display: block; color: #FFF; font-size: 16px; font-weight: 500; line-height: 30px;}
  .fix_form .fix_item .agreement a{font-size: 16px; color:#fff; line-height: 30px; text-decoration: underline;}

  .quick_menu{position:fixed; display: none; flex-direction: column; align-items: center; width: 85px; background-color: #4F84EE; border-radius: 20px 0 0 20px; box-shadow: 0 5px 10px 0 rgba(99, 99, 99, 0.10); padding: 20px 0;  right: 0; top: 50%; transform: translateY(-50%); z-index: 1000;}
  .quick_menu ul{display: flex; flex-direction: column; align-items: center; width: 100%;}
  .quick_menu ul li{position:Relative; padding: 15px 0;}
  .quick_menu ul li a{display: flex; flex-direction: column; align-items: center; }
  .quick_menu ul li:after{content:''; position: absolute; width: 40px; height: 1px; background-color: #D2D2D2; bottom: 0; left: 0; right: 0; margin: 0 auto;}
  .quick_menu ul li:last-child:after{display: none;}
  .quick_menu ul li em{display: block; color: #FFF; margin-top: 6px; font-size: 14px; font-weight: 500; text-align: center;}
  .quick_menu .scroll_top{color: #FFF; text-align: center; font-size: 18px; font-weight: 500; line-height: 15px; margin-top:13px;}
  .quick_menu .scroll_top span{display: block; height:8px;}

  #footer .f_top{padding: 15px 0; text-align: center; background-color: #0057FF;}
  #footer .f_top .inner{display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 0;}
  #footer .f_top strong{display: block; color: #FFF; font-size: 25px; font-weight: 700; line-height: 35px;}
  #footer .f_top a{display: block; color: #FFF; font-size: 25px; font-weight: 700;}
  #footer .f_top p{color: #FFF; font-size: 14px; line-height: 25px; margin-top: 20px;}
  #footer .f_top p em{font-size: 18px; font-weight: 700;}
  #footer .f_bot{padding: 23px 0 15px; background-color: #191919;}
  #footer .f_bot .inner{display: flex; flex-direction: column; align-items: center;}
  #footer .f_bot .foot_logo{display: block;}
  #footer .f_bot address{color: #FFF; margin-top: 15px; text-align: center; font-size: 12px; font-weight: 400; line-height: 18px;}
  #footer .f_bot address a{color: #FFF;}
  #footer .f_bot p.copyright{margin-top:30px; color: #FFF; text-align: center; font-size: 12px; font-weight: 400; line-height: 18px;}
  #mob_nav{
    position:fixed;
    display: none;
    right: 0;
    top: 0; 
    width: 60%;
    height: 100%;
    border-left: 1px solid #ddd;
    background-color: #fff;
    z-index: 100000;
  }
  #mob_nav .mob_nav_header{
    position: relative;
    height: 80px;
    border-bottom: 1px solid #ddd;
  }
  #mob_nav .mob_nav_header .close_btn{position: absolute; width: 40px; height: 40px; right: 5%; top: 0; bottom: 0; margin: auto 0;}
  #mob_nav .mob_nav_header .close_btn:before{content:''; position: absolute; right: 0; top:0; bottom: 0; margin: auto 0; width: 100%; height: 5px; background-color: #222; transform: rotate(45deg)}
  #mob_nav .mob_nav_header .close_btn:after{content:''; position: absolute; right: 0; top:0; bottom: 0; margin: auto 0; width: 100%; height: 5px; background-color: #222; transform: rotate(-45deg)}
  #mob_nav .mob_menu em{display: block;}
  #mob_nav .mob_menu em a{display: block; padding:15px 20px; font-size: 20px; font-weight: 700; color:#222; border-bottom: 1px solid #ddd;}
  #mob_nav .mob_menu ul{display: none; border-bottom: 1px solid #ddd;}
  #mob_nav .mob_menu ul li a{display: block; padding:10px 20px 10px 30px; font-size: 16px; color:#222; font-weight: 500;}
  .mob_quick{display: block; width: 82px; position: fixed; right: 20px; bottom: 20px; text-align: center; z-index: 1000; }
  .mob_quick .quick_open{position:relative; display: inline-block; width: 50px; height: 50px; border-radius: 50%; border:1px solid #fff; background-color: #0057FF; transition:0.3s;}
  .mob_quick .quick_open:before{content:''; position:absolute; width: 60%; height: 4px; background-color: #fff; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
  .mob_quick .quick_open:after{content:''; position:absolute; width: 60%; height: 4px; transform: rotate(-90deg); background-color: #fff; left: 0; right: 0; top: 0; bottom: 0; margin: auto;}
  .mob_quick ul{display: none; margin-bottom:15px; text-align: center; padding: 15px; border:1px solid #0057FF;  border-radius:999px; background-color: #fff;}
  .mob_quick ul li{margin-top: 15px;}
  .mob_quick ul li em{display: block; font-size: 13px; color:#222; margin-top: 5px;}
  .mob_quick ul li:first-child{margin-top: 0;}
  .mob_quick.on .quick_open{transform: rotate(45deg);}

}