html,
body {
  width: 100%;
}
html {
  overflow: auto;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  -webkit-text-size-adjust: none;
  box-sizing: border-box;
}
body {
  word-break: break-all;
  -ms-word-break: break-all;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
figure,
fieldset,
legend,
textarea,
p,
a,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  color: var(--grayscale-900);
}
fieldset,
img {
  border: 0px none;
  vertical-align: top;
}
dl,
ul,
ol,
menu,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}
body {
  background: var(--grayscale-white);
}
input,
select,
textarea,
button {
  vertical-align: middle;
  outline: none;
  border: 0;
}
a:link,
a:active,
a:visited {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: 400;
}
summary,
caption,
legend,
hr {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  border: none;
  position: absolute;
  left: -1000em;
}
caption {
  position: static;
}
.clfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
img {
  image-rendering: crisp-edges;
}

:root {
  --primary-50: #f2fef9;
  --primary-100: #e3f9f0;
  --primary-200: #c8f5e3;
  --primary-300: #c8f5e3;
  --primary-400: #3cd88d;
  --primary-500: #00c777; /*Default*/
  --primary-600: #0aa562;
  --primary-700: #028c55;
  --primary-800: #006d47;
  --primary-900: #00472e;
  --warning: #ff6060;
  --grayscale-white: #ffffff;
  --grayscale-50: #f9f9f9;
  --grayscale-100: #f4f4f4;
  --grayscale-200: #e5e5e5; /*Border*/
  --grayscale-300: #dbdbdb;
  --grayscale-400: #c4c4c4;
  --grayscale-500: #a1a1a1; /*Sub Text*/
  --grayscale-600: #848484;
  --grayscale-700: #636363;
  --grayscale-800: #3f3f3f; /*Default*/
  --grayscale-900: #252525;
  --grayscale-black: #000000;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

figcaption{
  display: none;
}

html,
body,
#wrap {
  height: 100%;
}

.pc_img{display: block}
.mob_img{display: none}
/* --------------------- css ---------------------------- */
#wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.inner{
  width:1300px;
  margin: 0 auto; 
  max-width: 100%;
}
#header {height: 100px;}
#header .inner{display: flex; align-items: center; justify-content: space-between; width: 100%; height: 100%; padding: 0 30px}
#gnb ul{display: flex; gap: 50px;}
#gnb ul > li{position:relative;}
#gnb ul > li > a{display: block; padding: 0 20px; font-size: 20px; line-height: 100px; color:#262626; font-weight: 700;}
#gnb ul > li > a:after{content:''; position: absolute; left: 0; right: 0; bottom: 0; margin: 0 auto; width: 0; height: 3px; opacity: 0; background-color: #489AFF; transition: 0.3s;}
#gnb ul > li:hover > a:after{width: 27px; opacity: 1;}
#gnb ul > li .info{position:absolute; display: none; left:50%; transform: translateX(-50%); width: max-content; padding: 29px 22px; background-color: #fff; border-top:1px solid #E4E4E4; text-align: center;}
#gnb ul > li .info em{display: block; font-size: 16px; color:#262626; margin-bottom: 24px; font-weight: 500;}
#gnb ul > li .info em:last-child{margin-bottom: 0;}
#header .call{display: flex; align-items: center; gap: 10px; padding: 15px 21px; background-color: #368EFB; border-radius: 10px;}
#header .call em{display: block; font-size: 24px; color:#fff; line-height: 1; font-weight: 700;}
#section01{position:relative; padding: 216px 0; background: url(../images/main_sec01_bg_pc.jpg)center/cover;}
#section01 ul{display: flex; gap:18px;}
#section01 ul li{width: 100%; padding: 23px; border-radius:20px; background-color: #fff;}
#section01 ul li article{display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;}
#section01 ul li strong{display: block; font-size: 29px; font-weight: 700; margin-top: 35px; color:#262626; line-height: 1;}
#section01 ul li i{display: block; margin-top: 29px; font-size: 13px; font-style: normal; font-weight: 400;}
#section01 ul li em{position:relative; display: inline-block;; font-size: 19px; color:#3B3B3B; font-weight: 700; z-index: 10;}
#section01 ul li em:before{content:''; position:absolute; left: -12px; bottom: -5px; width: calc(100% + 24px); height: 21px; background-color: #368EFB; opacity: 0.1;}
#section01 ul li em span{font-size: 27px;}
#section01 ul li small{display: block; font-size: 10px; line-height: 1.5; margin-top: 29px; color:#AFAFAF;}

@keyframes pop {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.sec01_btn{display: flex; flex-direction: column; align-items: center; margin-top: 75px;}
.sec01_btn b{display: block; text-align: center; font-size: 24px; margin-bottom: 21px; color:#262626; font-weight: 400;}
.sec01_btn b span{font-weight: 700; color:#368EFB}
.sec01_btn a{ position: relative; display: block; width: 410px; padding: 8px 0; font-size: 24px; font-weight: 700; color:#fff; text-align: center; border-radius: 999px; background: #368EFB; overflow: hidden;}
.sec01_btn a em{font-size: 42px; font-weight: 700;}
.sec01_btn a span {z-index: 20;}
.sec01_btn a:hover span{display: block; animation: pop 0.3s;}
.sec01_btn a:after {
  background: linear-gradient(rgba(255,255,255,0.2),20%,rgba(255,255,255,0));
  content: "";
  height: 250px;
  left: -100%;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  width: 90px;
  z-index: 1;
  transition-delay: 0.2s;
}

.sec01_btn a:hover:after {
  left: 100%;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

#section02{padding: 103px 63px;}
#section02 h2{font-size: 60px; color:#262626; text-align: center; font-weight: 700;}
#section02 h2 strong{color:#368EFB; font-weight: 700;}
#section02 ol{display: flex; margin-top: 64px;}
#section02 ol li{display: flex; flex-direction: column; align-items: center; width: 20%; padding: 20px; text-align: center;}
#section02 ol li figure{position:relative; width:184px; height:184px; background: url(../images/main_sec02_bg_pc.png)center no-repeat;}
#section02 ol li figure:before{content:''; position: absolute; display: block; width: 45px; height:5px; background-color: #368EFB; opacity: 0.2; left: calc(100% - 3px); top: 0; bottom: 0; margin: auto 0; z-index: -1;}
#section02 ol li figure:after{content:''; position: absolute; left: calc(100% + 41px); width: 12px; height: 12px; top: 0; bottom: 0; margin: auto 0; border-radius: 50%; background-color: #7B8CA2;}
#section02 ol li figure img{position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin:auto;}
#section02 ol li i{display: block; font-style: normal; font-size: 20px; color:#626262; margin-bottom: 39px;}
#section02 ol li .txt{margin-top: 29px;}
#section02 ol li .txt em{display: block; font-size: 22px; color:#006FF9; font-weight: 700;}
#section02 ol li .txt p{font-size:16px; margin-top: 13px; color:#626262; line-height: 1.5;}
#section02 ol li:last-child figure:before{display: none;}
#section02 ol li:last-child figure:after{display: none;}

#section03{padding: 158px 0; background: url(../images/main_sec03_bg_pc.jpg)center/cover no-repeat;}
#section03 h2{font-size: 60px; color:#fff; font-weight: 700; line-height: 1.6; text-align: center;}
#section03 h2 em{position:relative; font-weight: 700;}
#section03 h2 em:before{content: ''; position: absolute; left: 0; width: 100%; bottom: -5px; height: 5px; background-color: #4699FF;}
#section03 h2 em strong{color:#368EFB}

#section04{padding: 110px 0;}
#section04 .inner{display: flex; gap:30px}
#section04 article{width: 100%; padding: 35px; border: 1px solid #E4E4E4; border-radius: 20px; text-align: center;}
#section04 article h2{font-size: 24px; color:#262626; margin-bottom: 27px; font-weight: 700;}
#section04 article h2 em{color:#368EFB; font-weight: 700;}
#section04 .sec04_slide{height: 495px !important;}
#section04 article .slide_top{display: flex; background-color: #368EFB; border-radius: 10px;}
#section04 article .slide_top em{position:relative; display: block; width: 33.33%; line-height: 50px; font-size: 16px; color:#fff; font-weight: 700;}
#section04 article .slide_top em:before{content:''; position: absolute; width: 1px; height: calc(100% - 16px); background-color: #DFEDFF;  right: 0; top: 0; bottom: 0; margin: auto 0;}
#section04 article .slide_top em:last-child:before{display: none;}
#section04 article .sec04_item{border-bottom: 1px solid #ddd}
#section04 article .sec04_item .txt{display: flex;}
#section04 article .sec04_item .txt b{display: block; width: 33.33%; line-height: 54px; font-size: 16px; font-weight: 500; color:#262626;}
.sec04_slide_wrap{position:relative; }
.sec04_slide_wrap:before{content:''; position: absolute; left: 0; bottom: 0; width: 100%; height: 40px; background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)); z-index: 10;}