#prod {
  padding: 0 260px 175px 260px;
}

#prod .tab_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 55px 0;
}

#prod .tab_wrap .tab_btn {
  border: 2px solid #e4e4e4;
  max-width: 100%;
  border-radius: 20px;
  flex: 1 1 0;
  padding: 20px 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #262626;
  font-size: 18px;
  font-weight: 600;
}
#prod .tab_btn.is-active {
  border-color: #0057ff;
  color: #0057ff;
}
#prod .tab_wrap button .tab_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: center/contain no-repeat;
}

#prod .tab_wrap button .tab_icon--internet {
  background-image: url("../images/icons/sub_internetIcon.svg");
}
#prod .tab_wrap button.is-active .tab_icon--internet {
  background-image: url("../images/icons/sub_internet_act.svg");
}
#prod .tab_wrap button .tab_icon--tv {
  background-image: url("../images/icons/sub_tvIcon.svg");
}
#prod .tab_wrap button.is-active .tab_icon--tv {
  background-image: url("../images/icons/sub_tv_act.svg");
}
#prod .tab_wrap button .tab_icon--sim {
  background-image: url("../images/icons/sub_simIcon.svg");
}
#prod .tab_wrap button.is-active .tab_icon--sim {
  background-image: url("../images/icons/sub_sim_act.svg");
}
#prod .prod_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 150px;
}
#prod .prod_wrap h2 {
  font-size: 36px;
  font-weight: 700;
  color: #262626;
}
#prod .prod_wrap .prod_check_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  margin-top: -10px;
}

.prod_check_wrap .check_input {
  display: none;
}

.prod_check_wrap .prod_item .check_icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prod_check_wrap .prod_item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #262626;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.prod_check_wrap .check_item.is-disabled .prod_item {
  opacity: 0.45;
  cursor: not-allowed;
}

.prod_check_wrap .check_item.is-disabled .prod_item .check_icon {
  background: #e4e4e4;
}

.prod_check_wrap .check_item.is-disabled .prod_item .check_icon img {
  opacity: 0.35;
}

.check_input:checked + .prod_item .check_icon {
  background: #0057ff;
}

.card_wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 22px;
  margin-top: 35px;
}

.plan_card {
  position: relative;
  border: 1px solid #e7e7e7;
  border-radius: 18px;
  background: #fff;
  padding: 53px 45px;
  text-align: center;
}
.plan_card img {
  margin-bottom: 20px;
}

.plan_badge {
  position: absolute;
  left: 45px;
  top: 53px;
  width: 65px;
  height: 65px;
  padding: 7px;
  border-radius: 999px;
  border: 2px solid #0b56ff;
  color: #0b56ff;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  display: grid;
  place-items: center;
}

.plan_ribbon {
  position: absolute;
  right: 18px;
  top: 0;
  width: 55px;
  height: 68px;
  border-radius: 0 0 100px 100px;
  background: #0b56ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  display: grid;
  place-items: center;
}

.plan_title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #262626;
}

.plan_price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: baseline;
  margin-bottom: 14px;
}

.plan_price_label {
  font-size: 20px;
  font-weight: 500;
  color: #0b57ff;
}

.plan_price_text {
  font-size: 22px;
  font-weight: 700;
  color: #0b57ff;
}
.plan_price_value {
  font-size: 26px;
  font-weight: 700;
  color: #0b57ff;
}

.plan_divider {
  border-top: 1px solid #e0e0e0;
  margin: 20px auto;
  width: 100%;
}

.plan_spec {
  margin: 0;
}

.plan_row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 5px 0;
  font-size: 18px;
  color: #626262;
}

.plan_row dt,
.plan_row dd {
  color: #626262;
  margin: 0;
}
.plan_row--total {
  margin-top: 6px;
  padding-top: 10px;
  border-top: 1px dashed #e7e7e7;
  color: #626262;
  font-weight: 700;
}

.plan_note {
  margin: 8px 0;
  font-size: 16px;
  color: #626262;
}

.plan_actions {
  margin: 80px 0 8px 0;
}

.plan_btn {
  display: block;
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  background: #0b56ff;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

#prod .noti_text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #626262;
  margin-top: 22px;
}

#prod .more_btn_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 85px;
  padding: 0 43px;
  width: 100%;
  height: 70px;
  border: 1px solid tomato;
  color: #262626;
  font-size: 20px;
  margin: 70px 0;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
}
.more_btn_wrap img {
  transition: transform 0.25s ease;
  transform-origin: center;
}

.more_btn_wrap.is-open img {
  transform: rotate(180deg);
}

.plan_spec .plan_row:first-child dd {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: currentColor;
}
