@media (max-width: 768px) {
  #plan {
    padding: 0 20px 120px;
  }

  #plan #speedTabs.speed_wrap {
    font-size: 17px !important;
    background-color: transparent;
    border: none;
  }
  #plan #speedTabs.speed_wrap {
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
  }
  #plan #speedTabs .tab_btn {
    width: calc(50% - 6px);
    height: 48px;
    font-size: 16px;
    border-radius: 0;
  }
  #plan #speedTabs .tab_btn {
    position: relative;
    background-color: transparent;
  }
  #plan #speedTabs .tab_btn.is-active {
    position: relative;
    background-color: transparent;
  }

  #plan #speedTabs .tab_btn.is-active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 50%;
    height: 2px;
    background: #0057ff;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    animation: underlineGrow 0.25s ease forwards;
  }

  @keyframes underlineGrow {
    to {
      transform: translateX(-50%) scaleX(1);
    }
  }
  #plan .plan_title {
    font-size: 20px;
    margin: 80px 0 30px 0;
  }

  #plan .plan_table thead th,
  #plan .plan_table tbody td {
    padding: 18px 8px;
    font-size: 15px;
  }
}
